body,
html {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: "Lato", sans-serif;
  background-color: #161a1a;
}

* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
}

ul,
li {
  list-style: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.bg-web-podcasts {
  background-image: url(../../images/BG.jpg);
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

.cart-name {
  color: white;
  font-size: 1.6rem;
  margin: 9px 0 5px;
}

.text {
  color: white;
  font-size: 1.6rem;
}

.cart-descrip {
  color: #99999f;
  font-size: 1.2rem;
  line-height: 1.5;
}

.view-all {
  font-size: 1.6rem;
  color: white;
}

.feature-episode-title {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 9px;
  width: 100%;
}

.title-podcasts {
  color: white;
  font-size: 4rem;
  margin: 1rem 0 5rem;
}

.text-page {
  font-size: 1.6rem;
  color: #99999f;
  text-transform: uppercase;
}

.little-text {
  width: 100%;
  color: #afafaf;
  font-size: 2rem;
  grid-column: 1/3;
  margin-bottom: 7rem;
}

.margin-bottom {
  margin-bottom: 6rem;
}

.margin-bottom-1 {
  margin-bottom: 2rem;
}

.margin-top {
  margin-top: 9.5rem;
}

.margin-top-1 {
  margin-top: 2rem;
}

.margin-top-2 {
  margin-top: 7.5rem;
}

.margin-top-3 {
  margin-top: 6rem;
}

.circle-img {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.width-100 {
  width: 100%;
}

.border-radius {
  border-radius: 0.8rem;
}

.border-radius-1 {
  border-radius: 8rem;
}

.padding-top {
  padding-top: 6rem;
}

.hero-slider {
  padding: 25rem 20rem 50rem;
  width: 100%;
  background-image: url(/images/hero-slider.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
}
.hero-slider__main-text {
  background-image: url(/images/MB.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.hero-slider div {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.hero-slider__under-text {
  color: #ffffff;
  font-family: 300;
  font-size: 1.4rem;
}

.main-text {
  padding: 11rem 0;
  font-size: 4.8rem;
  color: #fff;
  letter-spacing: -3;
}

.blue-text {
  color: #2dceef;
}

.flow {
  padding: 0 20rem;
  height: 92vh;
  background-color: #161a1a;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  align-content: center;
}
.flow-img img {
  width: 60rem;
  height: 60rem;
}
.flow-about {
  padding: 5rem;
  align-self: center;
}

.text-about h1 {
  text-transform: uppercase;
  font-size: 5rem;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 2rem;
}

.text-about p {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.5rem;
}

.listen-any-where {
  padding: 0 20rem;
  height: 75vh;
  background-image: url(/images/Listenanytimeanywhere.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.listen-any-where h1 {
  text-transform: capitalize;
  font-size: 3rem;
}

main {
  background-color: #161a1a;
  padding-bottom: 15rem;
}

.find-your-phone {
  padding-left: 20rem;
  padding-right: 10rem;
  background-color: #161a1a;
}
.find-your-phone .about {
  padding-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.find-your-phone .about .text-about h1 {
  text-transform: none;
}
.find-your-phone__phoneImage {
  justify-self: center;
}
.find-your-phone .premium {
  text-align: center;
}
.find-your-phone .premium .main-text {
  padding: 0rem;
  padding-bottom: 4rem;
}
.find-your-phone .premium--icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.find-your-phone .premium-icons-round {
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #303033;
  margin: auto;
}
.find-your-phone .premium--price-tables {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.find-your-phone .text-about {
  margin-top: 2rem;
}
.find-your-phone .text-about h1 {
  font-size: 2rem;
  margin: 0;
  text-transform: none;
}
.find-your-phone .text-about p {
  font-size: 1.6rem;
  font-weight: 300;
}

.table-content {
  width: 32rem;
  text-align: left;
  padding: 2.5rem;
  background-color: #161a1a;
  border-radius: 1rem;
  border: 0.3rem solid #fff;
  margin-bottom: 5rem;
}
.table-content h1 {
  color: #ffffff;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 300;
}
.table-content .price {
  color: #ffffff;
  font-size: 2rem;
  line-height: 3rem;
}
.table-content .little-text {
  font-size: 1rem;
}

.card__gradient {
  border: none;
  padding: 0.4rem;
  background-image: linear-gradient(
    90deg,
    #35edfb -10%,
    #2d9bef 30%,
    #9b2def 130%
  ) !important;
}
.card__gradient--insert {
  border-radius: 1rem;
  padding: 1.8rem;
  background-color: #161a1a;
  width: 100%;
  height: 100%;
}

.footer {
  background-color: #111313;
  padding: 5rem 0;
  height: 270px;
}
.footer_grid {
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr 1fr 3fr;
  height: 100%;
  gap: 4rem;
}
.footer__logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__logo_ads {
  display: flex;
  width: 90%;
  justify-content: space-between;
  color: #848484;
  font-size: 1.2rem;
}
.footer-link {
  display: block;
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
  margin-top: 1rem;
}
.footer__social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}
.footer__social-links {
  display: flex;
  gap: 1rem;
  justify-content: right;
}
.footer__social-links-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  text-align: center;
  background-color: grey;
  font-size: 2rem;
  color: white;
  border-radius: 50%;
  text-decoration: none;
}
.footer__copyrights {
  color: #848484;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.language {
  background-color: transparent;
  font-size: 1.4rem;
  color: white;
  border: none;
}
.language option {
  background-color: black;
  color: white;
}

.header {
  background-color: rgba(0, 0, 0, 0);
  padding: 2.2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 2;
  top: 0;
}
.header__left,
.header__right {
  display: flex;
  align-items: center;
}
.header__navbar a {
  transition: all 0.2s;
  text-decoration: none;
  padding: 1rem;
}
.header__navbar a:hover {
  color: #2dceef;
}
.header__navbar a:focus {
  border-bottom: 3px solid #2dceef;
  color: #2dceef;
}
.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10vh;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  z-index: -1;
}
.header__search {
  padding: 1rem 1.6rem 1rem 0;
  background-color: #898b91;
  border: none;
}
.header__search:focus {
  outline: none;
}
.header__search::placeholder {
  color: white;
  padding-left: 1.6rem;
}

.btn {
  padding: 0.7em 1.3em;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 10em;
}
.btn--light {
  background-color: #fff;
  color: #363233;
}
.btn--linear-gradient {
  background-image: linear-gradient(
    90deg,
    #35edfb -10%,
    #2d9bef 30%,
    #9b2def 130%
  );
  padding: 0.8em 1.4em;
  border: none;
}

.btn__show {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.btn__show a {
  padding: 1rem 2.8rem;
  border: 1px solid white;
  border-radius: 2rem;
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.2s;
}
.btn__show a:hover {
  color: #333;
  background-color: #fff;
}

.btn-linear {
  padding: 1rem 6rem;
  background-image: linear-gradient(to right bottom, #35edfb, #2d9bef);
  border-radius: 2rem;
  color: white;
  font-size: 1.6rem;
  display: inline-block;
  transition: all 0.3s;
}
.btn-linear:hover {
  transform: translateY(-5px);
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.274);
}

.btn_like {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 3px solid white;
  border-radius: 50%;
}

.progress-page {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #949494;
}

.card ul {
  padding: 3rem 0 2rem;
}
.card ul li {
  padding: 1rem 0;
  line-height: 1rem;
  font-size: 1.6rem;
  color: #ffffff;
}
.card ul li span {
  vertical-align: middle;
}

.padcasts_card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2.6rem;
}

.my__padcasts-page {
  border-radius: 0.8rem;
  border: 3px solid white;
  height: 78%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.my__padcasts-page img {
  width: 4.6rem;
  height: 4.6rem;
}

.cart-flow {
  background-position: center;
  background-size: cover;
  border-radius: 0.8rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: brightness(100px);
}
.cart-flow img {
  border-radius: 0.8rem;
  width: 15rem;
}
.cart-flow-1 {
  background-image: linear-gradient(
      300deg,
      #3a3a3d46 0%,
      #3a3a3d46 50%,
      transparent 50%
    ),
    url(../../images/flow-1.jpg);
}
.cart-flow-2 {
  background-image: linear-gradient(
      300deg,
      #3a3a3d46 0%,
      #3a3a3d46 50%,
      transparent 50%
    ),
    url(../../images/flow-2.jpg);
}
.cart-flow-3 {
  background-image: linear-gradient(
      300deg,
      #3a3a3d46 0%,
      #3a3a3d46 50%,
      transparent 50%
    ),
    url(../../images/flow-3.jpg);
}

.flow__cart h3,
.flow__cart p {
  color: white;
  text-align: center;
}

.flow__cart h3 {
  font-size: 2.8rem;
}

.flow__cart p {
  font-size: 1.2rem;
}

.padcasts {
  padding-top: 7.6rem;
  background-color: #161a1a;
  width: 100%;
}
.padcasts__my:not(:first-child) {
  margin-top: 9.5rem;
}
.padcasts__my--name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.padcasts__my--name-heading {
  color: white;
  font-size: 2rem;
}
.padcasts__my--name img {
  height: 100%;
}
.padcasts__card--items-img {
  border-radius: 0.8rem;
  width: 100%;
}
.padcasts__card--items h3 {
  color: white;
  font-size: 1.4rem;
  margin: 0.9rem 0 0.6rem;
}
.padcasts__card--items p {
  color: #99999f;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.player {
  position: relative;
  padding: 1.6rem;
  background-color: #3a3a3d;
}
.player__inner {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.player__actress {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.player__actress--image {
  width: 6rem;
  height: 6rem;
}
.player__actress--image img {
  width: 100%;
  height: 100%;
}
.player__actress--name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 0 2rem;
  gap: 1rem;
}
.player__actress--name h3 {
  font-size: 1.6rem;
  color: #ffffff;
}
.player__actress--name span {
  color: #99999f;
  font-size: 1.4rem;
}
.player__actress--icons {
  font-size: 2.4rem;
  color: #99999f;
  padding: 0 1.6rem;
}
.player__actress--icons > ion-icon:last-child {
  color: #2dceef;
  margin-left: 1rem;
}
.player__box {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: column;
}
.player__box .controls {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.6rem;
}
.player__box .controls__left,
.player__box .controls__right,
.player__box .controls__play--pause {
  display: flex;
  align-items: center;
  color: #ffffff;
}
.player__box .controls__left {
  gap: 3rem;
  justify-content: flex-end;
}
.player__box .controls__right {
  gap: 3rem;
  justify-content: flex-start;
}
.player__box .controls__play--pause {
  align-items: center;
  margin: 0 3rem;
}
.player__box .range {
  justify-self: stretch;
  width: 100%;
  max-width: 56rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}
.player__box .range--index {
  width: 100%;
  margin: 0 1rem;
  position: relative;
}
.player__box .range--index .bar {
  max-width: 56rem;
  height: 2px;
  background-color: #99999f;
}
.player__box .range--index .dot {
  position: absolute;
  top: 50%;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: #2dceef;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.player__box .range--index .dot::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #2dceef;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 2px rgba(45, 206, 239, 0.2),
    0 0 0 4px rgba(45, 206, 239, 0.1);
}
.player__box .range--left,
.player__box .range--right {
  color: #99999f;
}
.player__volume {
  margin-top: 1rem;
  width: 20%;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #99999f;
}
.player__volume ion-icon:first-child {
  margin: 0 2rem;
}
.player__volume .vol {
  margin-left: 10px;
  position: relative;
  width: 100%;
  max-width: 8rem;
  height: 3px;
  background-color: #99999f;
}
.player__volume .vol::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 40%;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  background-color: white;
}

ion-icon {
  cursor: pointer;
}

#heart {
  display: none;
  visibility: hidden;
}

#heart:checked ~ .heart {
  color: red;
}

.header__left {
  gap: 3rem;
}
.header__left--active {
  border: 0.2rem solid blue;
  padding: 0.3rem 0.85rem;
  border-radius: 2rem;
  background-image: linear-gradient(to left, #7058ef, #32ccf6);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.header__left a {
  padding: 0.5rem 1rem;
}

.header__middle {
  gap: 3rem;
}
.header__middle a {
  position: relative;
}
.header__middle a::before {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 25%;
  width: 50%;
  height: 3px;
  background-color: blueviolet;
  opacity: 0;
  transition: 0.4s;
}
.header__middle a:focus {
  color: white;
}
.header__middle a:focus::before {
  opacity: 1;
}

.header__right {
  gap: 3rem;
}
.header__right--profil {
  gap: 0.2rem;
}
.header__right--profil select {
  border: none;
  background: none;
  color: white;
}
.header__right--profil ion-icon {
  font-size: 3rem;
}
.header__right--search {
  gap: 0.5rem;
  background-color: #505356;
  border-radius: 2rem;
  padding: 0.5rem;
}
.header__right--search ion-icon {
  color: white;
  font-size: 2rem;
}
.header__right--search input {
  background: none;
  border: none;
  outline: none;
  color: white;
}
.header__right--search input::placeholder {
  color: white;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.grid-row-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
}

.grid-row-6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2.5rem;
}

.columns-2 {
  grid-template-rows: 1fr 1fr;
  row-gap: 5rem;
}

.grid-row-9 {
  display: grid;
  grid-template-columns: 6fr 1fr 1fr 1fr;
}

.item-center {
  justify-self: center;
}

.display-flex {
  display: flex;
  flex-direction: row;
}

.gap-2 {
  gap: 1rem;
}

.gap-4 {
  gap: 4rem;
}

.align-center {
  align-items: center;
}

.space-beetwen {
  justify-content: space-between;
}

.player {
  z-index: 111111;
  background-color: #504343;
  width: 95%;
  margin: 0 auto;
  height: 13vh;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
  justify-content: space-between;
  position: fixed;
  bottom: 0rem;
  left: 50%;
  transform: translateX(-50%);
}
.player__music {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 100%;
}
.player__music-img {
  height: 100%;
}
.player__music-img img {
  height: 100%;
  border-radius: 5px;
}
.player__music-name {
  font-size: 1.5rem;
  color: gray;
  margin-bottom: 0.5rem;
}
.player__music-singer {
  font-size: 1.3rem;
  color: grey;
}
.player__music-like {
  font-size: 1.5rem;
  color: white;
  display: flex;
  gap: 1rem;
}
.player__music .likee {
  display: none;
  margin-right: 1rem;
}
.player__music .likee:checked ~ .player__music-like .fa-heart {
  color: red;
}
.player__control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player__control-top {
  display: flex;
  font-size: 2rem;
  text-align: center;
  color: white;
  gap: 2rem;
}
.player__control-top .fa-solid {
  cursor: pointer;
}
.player__control-top .fa-solid:hover {
  color: royalblue;
}
.player__control-top .fa-pause {
  transform: scale(1.7);
}
.player__control-minute {
  display: flex;
  color: gray;
  align-items: center;
  margin-top: 1rem;
}
.player__control-minute .status {
  display: block;
  width: 200px;
  height: 3px;
  background-color: gray;
  margin: 0 1rem;
  position: relative;
}
.player__control-minute .status::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  background-image: linear-gradient(to right, #efefff, #32f);
  height: 100%;
}
.player__right {
  display: flex;
  align-items: center;
}
.player__right .player__volume {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.player__right .volumee {
  display: none;
}
.player__right .mute {
  content: "";
  position: absolute;
  top: 8px;
  left: -3px;
  width: 3.3rem;
  height: 3px;
  transform: rotate(-50deg);
  background-color: gray;
  opacity: 0;
}
.player__right .volumee:checked ~ .kalonka .mute {
  opacity: 1;
}
.player__right .kalonka {
  position: relative;
}
.player__right .fa-volume-high {
  font-size: 2rem;
  color: gray;
}
.player__right .volume-degree {
  width: 80px;
  height: 3px;
  background-color: gray;
  display: inline-block;
  position: relative;
}
.player__right .volume-degree::after {
  content: "";
  width: 70%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: gray;
}
