.grid-row-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
}

.grid-row-6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2.5rem;
}

.columns-2 {
  grid-template-rows: 1fr 1fr;
  row-gap: 5rem;
}

.grid-row-9 {
  display: grid;
  grid-template-columns: 6fr 1fr 1fr 1fr;
}

.item-center {
  justify-self: center;
}
